*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.gitlab/
__pycache__
dist
docs
venv
stats
Dockerfile
docker-compose.yml
env_template
README.md
.coverage
.gitignore
.gitlab-ci.yml
coverage.xml
htmlcov